<footer class="footer">
    <small>
        The Legalito App
        by Legalito
    </small>
    <nav>
        <ul>
            <li><%= link_to "About", '#' %></li>
            <li><%= link_to "Contact", contact_path %></li>
        </ul>
    </nav>
</footer>
