<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Legalito | <%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

        <%= stylesheet_link_tag    "application" %>
        <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>

        <%= render 'layouts/shim' %>

    </head>

    <body>
        <%= render 'layouts/header' %>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <% flash.each do |message_type, message| %>
                        <div class="alert alert-<%= message_type %>"><%= message %></div>
                    <% end %>

                    <%= yield %>
                    <%= render 'layouts/footer' %>
                    <%= debug(params) if Rails.env.development? %>

                </div>
                <div class="col-md-1"></div>
            </div>
        </div>

    </body>
</html>
